.dashboard--container
{
    background: #e9e9e9;
    padding: 2rem;
    border-radius: 10px;
}

#wrapper
{
    display: flex;
    justify-content: center;
}

#phone:focus:valid {
    border-color: green;
}

#phone:focus:invalid {
    border-color: red;
}

#name:focus:valid{
    border-color: green;
}

#name:focus:invalid{
    border-color: red;
}

label.small-label {
    margin-top: 7px;
  }