{% extends "base.html" %}
{% block title %}Create order{% endblock %}

{% block content %}
<br>
<h1 align="center">Create order</h1>
<br>

<div class="container">
    <div class="card">
        <div class="card-header">
            <h4>Contact information</h4>
        </div>
        <div class="card-body">
            <div class="form-row">
                <div class="col">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1">First name</span>
                        </div>
                        <input type="text" class="form-control" id="name" name="first-name" required pattern="[A-Za-z]{1,32}" aria-label="FirstName" placeholder="e.g. John" aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="col">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1">Last name</span>
                        </div>
                        <input type="text" class="form-control" id="name" name="last-name" required pattern="[A-Za-z]{1,32}" aria-label="LastName" placeholder="e.g. Smith" aria-describedby="basic-addon1">
                    </div>
                </div>
            </div>
            <div class="form-row">
              <div class="col">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">Phone number</span>
                    </div>
                    <input type="tel" id="phone" class="form-control" required pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" name="phone-number" placeholder="e.g. 888-888-8888" aria-label="PhoneNumber" aria-describedby="basic-addon1">
                </div>
            </div>
            </div>
        </div>
    </div>
</div>

<br>

<div class="container">
  <div class="card">
      <div class="card-header">
          <h4>Invoice</h4>
      </div>
      <div class="card-body">
      </div>
  </div>
</div>

{% endblock %}