{% extends "base.html" %}
{% block title %}Create order{% endblock %}

{% block content %}
<br>
<h1 align="center">Create order</h1>
<br>

<div class="container">
    <div class="card">
        <div class="card-header">
            <h4>Contact information</h4>
        </div>
        <div class="card-body">
            <div class="form-row">
                <div class="col">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1">First name</span>
                        </div>
                        <input type="text" class="form-control" id="name" name="first-name" required pattern="[A-Za-z]{1,32}" aria-label="FirstName" placeholder="e.g. John" aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="col">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1">Last name</span>
                        </div>
                        <input type="text" class="form-control" id="name" name="last-name" required pattern="[A-Za-z]{1,32}" aria-label="LastName" placeholder="e.g. Smith" aria-describedby="basic-addon1">
                    </div>
                </div>
            </div>
            <div class="form-row">
              <div class="col">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">Phone number</span>
                    </div>
                    <input type="tel" id="phone" class="form-control" required pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" name="phone-number" placeholder="e.g. 888-888-8888" aria-label="PhoneNumber" aria-describedby="basic-addon1">
                </div>
            </div>
            </div>
        </div>
    </div>
</div>

<br>

<div class="container">
  <div class="card">
      <div class="card-header">
          <h4>Invoice</h4>
      </div>
      <div class="card-body">
        <table class="table table-bordered">
          <thead class="thead-light">
            <tr>
              <th scope="col">Garment</th>
              <th scope="col">Job(s)</th>
              <th scope="col" class="col-1"></th>
            </tr>
          </thead>
          <tbody id="TBody">
            <tr id="TRow">
              <td>
                <select class="custom-select">
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </td>
              <td>Otto</td>
              <td class="NoPrint"><button type="button" class="btn btn-sm btn-danger" onclick="BtnDel(this)">X</button></td>
            </tr>
          </tbody>
        </table>
        <div id="wrapper">
        <button type="button" class="btn btn-dark" onclick="BtnAdd()">Add garment</button>
        </div>
        <label for="basic-url">Completion date</label>
        <div class="md-form md-outline input-with-post-icon datepicker">
          <input placeholder="Select date" type="date" id="example" class="form-control">
        </div>
      </div>
  </div>
</div>

<script>
function BtnAdd()
{
    var v = $("#TRow").clone().appendTo("#TBody") ;
    $(v).find("input").val('');
    $(v).find("th").first().html($('#TBody tr').length);
}
function BtnDel(v)
{
    $(v).parent().parent().remove(); 
    GetTotal();

    $("#TBody").find("tr").each(
    function(index)
    {
        $(this).find("th").first().html(index);
    }

    );
}
</script>

{% endblock %}