{% extends "base.html" %}
{% block title %}Garments{% endblock %}

{% block content %}
<br>
<h1 align="center">Garments</h1>
<br>

<table class="table table-sm table-bordered">
    <thead class="thead-light">
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for garment in garments_pagination.items %}
            <tr>
                <td width="50%">{{ garment.name }}</td>
                <td>
                    <button class="btn btn-sm btn-warning" type="button" data-bs-toggle="modal" data-bs-target="#modaledit{{garment.id}}">Edit name</button>
                    <a href="/inventory/garments/delete/{{ garment.id }}" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure you want to delete `{{ garment.name }}`?')">Delete</a>
                </td>
            </tr>

            <!-- Edit Modal -->
            <div id="modaledit{{garment.id}}" class="modal fade" role="dialog" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Edit '{{garment.name}}'</h4>
                            <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <form action="{{url_for('views.edit_garment')}}" method="POST">
                                <div class="form-group">
                                    <label>Name:</label>
                                    <input type="hidden" name="id" value="{{garment.id}}">
                                    <input type="text" class="form-control" name="name" value="{{garment.name}}">
                                </div>
                                <div id="wrapper">
                                    <button style='margin-right:16px' class="btn btn-primary" type="submit">Confirm</button>
                                    <button style='margin-right:16px' type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </tbody>
</table>

<div id="wrapper">
    <button class="btn btn-success" type="button" data-bs-toggle="modal" data-bs-target="#modalcreate">Create</button>
</div>

<div id="modalcreate" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Create garment</h4>
                <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form action="{{url_for('views.create_garment')}}" method="POST">
                    <div class="form-group">
                        <label>Name:</label>
                        <input type="text" class="form-control" name="name" required>
                    </div>
                    <div id="wrapper">
                        <button style='margin-right:16px' class="btn btn-primary" type="submit">Confirm</button>
                        <button style='margin-right:16px' type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>     
                </form>                                                                  
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

{% endblock %}