{% extends "base.html" %}
{% block title %}Garments{% endblock %}

{% block content %}
<br>
<h1 align="center">Garments</h1>
<br>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for garment in garments_pagination.items %}
            <tr>
                <td>{{ garment.id }}</td>
                <td>{{ garment.name }}</td>
                <td>
                    <button class="btn btn-sm btn-warning" type="button" data-bs-toggle="modal" data-bs-target="#modaledit{{garment.id}}">Edit</button>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<nav aria-label="Page navigation example" class="d-flex justify-content-center">
    <ul class="pagination">
        {% for page_num in garments_pagination.iter_pages() %}
            <li class="page-item {% if page_num == garments_pagination.page %}active{% endif %}">
                <a class="page-link" href="{{ url_for('views.manage_garments', page=page_num) }}">{{ page_num }}</a>
            </li>
        {% endfor %}        
    </ul>
</nav>
{% endblock %}
