{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<br>
{% if current_user.is_authenticated %}
    <h1 align="center">Hi, {{ current_user.username }}!</h1>
    <br>
    {% if has_role(current_user, 'admin') %}
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h4>Dashboard</h4>
            </div>
            <div class="card-body">
            </div>
        </div>
    </div>
    {% endif %}
{% else %}
    <h1 align="center">Hi, guest!</h1>
{% endif %}
{% endblock %}
