{% extends "base.html" %}
{% block title %}Jobs{% endblock %}

{% block content %}
<br>
<h1 align="center">Jobs</h1>
<br>

<div id="wrapper">
    <a href="/inventory/jobs/edit" class="btn btn-primary" role="button">View/Edit</a>
    <a href="/inventory/jobs/create" class="btn btn-primary" role="button">Create</a>
</div>

<style>

#wrapper {
        display: flex;
        flex-direction: column;
        align-items: center; /* To center-align buttons horizontally */
    }

    .btn {
        margin-bottom: 20px; /* Add some spacing between buttons */
    }

</style>

{% endblock %}
