{% extends "base.html" %}
{% block title %}Search order{% endblock %}

{% block content %}
<br>
<h1 align="center">Pairs</h1>
<br>

<p style="text-align:center">Garment</h1>
<select class="custom-select custom-select-sm garmentSelect" required name="garment[]">
    {% for garment in garment_list %}
      <option value="{{ garment.id }}">{{ garment.name }}</option>
    {% endfor %}
</select>

<div id="wrapper">
<button type="submit" class="btn btn-primary" style="margin-right: 10px;">Display</button>
<button class="btn btn-success" type="button" data-bs-toggle="modal" data-bs-target="#modalcreate">Create</button>
</div>

<div id="modalcreate" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Create pair</h4>
            </div>
            <div class="modal-body">
                <form action="{{url_for('views.create_user')}}" method="POST">
                    <div class="form-group">
                        <label>Username:</label>
                        <input type="username" class="form-control" name="username">
                        <br>
                        <label>Password:</label>
                        <input type="password" class="form-control" name="password">
                        <br>
                        <label>Role:</label>
                        <select class="form-control" name="role">
                            {% for role in available_roles %}
                            <option value="{{ role.name }}">{{ role.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div id="wrapper">
                        <button style='margin-right:16px' class="btn btn-primary" type="submit">Confirm</button>
                        <button style='margin-right:16px' type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>     
                </form>                                                                  
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

{% endblock %}