{% extends "base.html" %}
{% block title %}Search order{% endblock %}

{% block content %}
<br>
<h1 align="center">Pairs</h1>
<br>

<p style="text-align:center">Garment</h1>
<select class="custom-select custom-select-sm garmentSelect" required name="garment[]">
    {% for garment in garment_list %}
      <option value="{{ garment.id }}">{{ garment.name }}</option>
    {% endfor %}
</select>

<div id="wrapper">
<button type="submit" class="btn btn-primary">Display job pairs</button>
</div>

{% endblock %}