{% extends "base.html" %}
{% block title %}Search order{% endblock %}

{% block content %}
<br>
<h1 align="center">Search order</h1>
<br>

<form class="needs-validation" novalidate>
<div class="input-group input-group-sm mb-3">
    <input type="text" class="form-control"  id="order-id" placeholder="Search by order ID" aria-label="Recipient's username" aria-describedby="basic-addon2" required>
    <div class="input-group-append">
      <button class="btn btn-primary" id="search-by-id" type="submit">Search</button>
    </div>
</div>
</form>

<form class="needs-validation" novalidate>
<div class="input-group input-group-sm mb-3">
    <input type="text" class="form-control" id="phone-number" placeholder="Search by phone number" aria-label="Recipient's username" aria-describedby="basic-addon2" required>
    <div class="input-group-append">
      <button class="btn btn-primary" id="search-by-number" type="submit">Search</button>
    </div>
</div>
</form>

<div id="search-results" style="display: none;">
    <table class="table table-sm table-striped table-bordered">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Customer ID</th>
                <th>Total Amount</th>
            </tr>
        </thead>
        <tbody id="results-body">
        </tbody>
    </table>
</div>

<script>

document.addEventListener("DOMContentLoaded", function () {
    const searchByIdButton = document.getElementById("search-by-id");

    const orderIdInput = document.getElementById("order-id");
    orderIdInput.addEventListener("input", function () {
        // Remove non-numeric characters from the input
        this.value = this.value.replace(/\D/g, '');
        });

    searchByIdButton.addEventListener("click", function () {
        if (orderIdInput.checkValidity()) {
            event.preventDefault();
            event.stopPropagation();
            searchbyId(orderIdInput.value);
        } else {
            orderIdInput.reportValidity(); // Show validation effect
        }
    });
});

(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();

function searchbyId(orderId) {
  // Use AJAX to fetch the prices for the selected garment and jobs
  fetch(`/search_order_by_id/${orderId}`)
    .then(response => response.json())
    .then(data =>
    {
        const resultsBody = document.getElementById("results-body");
        resultsBody.innerHTML = ""; // Clear existing content

        const order = data.order; // Access the order data
        const row = resultsBody.insertRow();
        const cellValues = [order.id, order.customer_id, order.price];
        cellValues.forEach(value => {
            const cell = row.insertCell();
            cell.textContent = value;
        });

        const searchResults = document.getElementById("search-results");
        searchResults.style.display = "block"; // Show the search results
    })
    .catch(error => {
      console.error('Error fetching orders for id:', error);
    });
}

</script>
{% endblock %}