{% extends "base.html" %}
{% block title %}Search order{% endblock %}

{% block content %}
<br>
<h1 align="center">Search order</h1>
<br>

<form class="needs-validation" novalidate id="order-form">
<div class="input-group input-group-sm mb-3">
    <input type="text" class="form-control" name="order-id" id="order-id" placeholder="Search by order ID" aria-label="Recipient's username" aria-describedby="basic-addon2" required>
    <div class="input-group-append">
      <button class="btn btn-primary" type="submit">Search</button>
    </div>
</div>
</form>

<form class="needs-validation" novalidate id="phone-form">
<div class="input-group input-group-sm mb-3">
    <input type="tel" class="form-control" name="phone-number" id="phone-number" placeholder="Search by phone number" aria-label="Recipient's username" aria-describedby="basic-addon2" required>
    <div class="input-group-append">
      <button class="btn btn-primary" type="submit">Search</button>
    </div>
</div>
</form>

<script>

const orderIdInput = document.getElementById("order-id");
const phoneInput = document.getElementById('phone-number');

orderIdInput.addEventListener("input", function () {
    // Remove non-numeric characters from the input
    this.value = this.value.replace(/\D/g, '');
});

phoneInput.addEventListener('input', function() {
  const unformattedValue = phoneInput.value.replace(/\D/g, '');
  const formattedValue = formatPhoneNumber(unformattedValue);
  phoneInput.value = formattedValue;
});

const orderForm = document.getElementById('order-form');
orderForm.addEventListener('submit', function(event) {
  event.preventDefault();  // Prevent the form submission

  if (!orderForm.checkValidity())
    return;

  const order_id = orderIdInput.value;
  window.location.href = `/search-id/${order_id}`;  // Redirect to the URL
});

const phoneForm = document.getElementById('phone-form');
phoneForm.addEventListener('submit', function(event) {
  event.preventDefault();
  const phone_num = phoneInput.value;

  if (!checkPhoneValidity(phone_num))
    return;

  window.location.href = `/search-number/${phone_num}`;
});

function formatPhoneNumber(number) {
  const numberLength = number.length;
  if (numberLength <= 3) {
    return number;
  } else if (numberLength <= 7) {
    return `${number.slice(0, 3)}-${number.slice(3)}`;
  } else {
    return `${number.slice(0, 3)}-${number.slice(3, 6)}-${number.slice(6, 10)}`;
  }
}

function checkPhoneValidity(number)
{
  if ( number.length == 12 )
    return true;
  
  return false;
}

// Validation
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();

</script>
{% endblock %}