{% extends "base.html" %}
{% block title %}Services{% endblock %}

{% block content %}
<br>
<h1 align="center">Services</h1>
<br>

<div id="wrapper">
    <a href="/services/garments" class="btn btn-primary" role="button">Garments</a>
    <a href="/services/jobs" class="btn btn-primary" role="button">Jobs</a>
</div>

<style>
    #wrapper {
        display: flex;
        flex-direction: column;
        align-items: center; /* To center-align buttons horizontally */
    }

    .btn {
        margin-bottom: 20px; /* Add some spacing between buttons */
    }
</style>

{% endblock %}
