{% extends "base.html" %}
{% block title %}store{% endblock %}

{% block content %}
<br>
<h1 align="center">Store</h1>
<br>

<div id="wrapper">
    <a href="/store/garments" class="btn btn-primary" role="button">Garments</a>
    <a href="/store/jobs" class="btn btn-primary" role="button">Jobs</a>
    <a href="/store/pairs" class="btn btn-primary" role="button">Pairs</a>
</div>

<style>
    #wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* To center-align buttons horizontally */
    }

    .btn {
        margin-bottom: 20px;
        /* Add some spacing between buttons */
    }
</style>

{% endblock %}