{% extends "base.html" %}
{% block title %}Manage users{% endblock %}

{% block content %}
<br>
<h1 align="center">Manage users</h1>

<br>
<div class="container mt-4">
    <table class="table table-success table-striped table-hover" border="1">
        <thead>
            <tr>
                <th>Username</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td width="50%">
                    <a href="/users/edit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modaledit{{user.id}}">Edit</a>
                    <a href="/users/delete/{{ user.id }}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete `{{ user.username }}`?')">Delete</a>
                </td>
            </tr>

            <div id="modaledit{{user.id}}" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Edit '{{user.username}}'</h4>
                        </div>
                        <div class="modal-body">
                            <form action="{{url_for('views.edit_user')}}" method="POST">
                                <div class="form-group">
                                    <label>Username:</label>
                                    <input type="hidden" name="id" value="{{user.id}}">
                                    <input type="username" class="form-control" name="username" value="{{user.username}}">
                                    <br>
                                    <label>Password:</label>
                                    <input type="password" class="form-control" name="password">
                                </div>
                                <div id="wrapper">
                                    <button style='margin-right:16px' class="btn btn-primary" type="submit">Confirm</button>
                                    <button style='margin-right:16px' type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>                                                                                         
                            </form>                                                                  
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </tbody>
    </table>
</div>

<br>
<div id="wrapper">
    <!-- Add data-bs-toggle and data-bs-target attributes to trigger the modal -->
    <a href="#" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalcreate">Create user</a>
</div>

<div id="modalcreate" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Create user</h4>
            </div>
            <div class="modal-body">
                <form action="{{url_for('views.create_user')}}" method="POST">
                    <div class="form-group">
                        <label>Username:</label>
                        <input type="username" class="form-control" name="username">
                        <br>
                        <label>Password:</label>
                        <input type="password" class="form-control" name="password">
                    </div>
                    <div id="wrapper">
                        <button style='margin-right:16px' class="btn btn-primary" type="submit">Confirm</button>
                        <button style='margin-right:16px' type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>     
                </form>                                                                  
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap JS and jQuery -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

{% endblock %}
